html {
  box-sizing: border-box;
  background-color: rgb(69, 186, 221);
}

body {
  /*height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./robot.gif');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;*/

  height: 90vh;
  width: 90vw;
  position: fixed;
  background: url('./robot.gif');
  background-repeat: no-repeat;
  top: 25vh;
  left: 25vw;
  
}


p {
  position: fixed;
  height: 7.5em;
  width: 30em;
  top: 5vh;
  left: 25vw;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, .7);
  z-index: 10;
  font-size: 1.8em;
  border-radius: 5px;
}


.form-container {
  position:fixed;
  left: 4vw;
  top: 35vh;




}
input {
  display: block;
  height: 1.8em;
  width: 12em;
  margin: 1em;
  font-size: 1.8em;
  border-radius: 5px;
}

h1 {
  position: relative;
  left: 1em;
}

button {
  position: relative;
  height: 1.8em;
  width: 12em;
  left: 1em;
  font-size: 1.8em;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  transform: scale(0.98);
}


/*
@keyframes formopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*/



@media screen and (max-width: 1000px) {
  p {
    height: 6.5em;
    width: 24em;
    font-size: 1.8em;
    left: 14vw;
  }
}