
/*
html {
  box-sizing: border-box;
  background-color: rgb(69, 186, 221);
}

*/
body {

  background: url('./robot.gif');
  background-repeat: no-repeat;
  background-size: cover;


}

#text-row {
  height: 16rem;
  background-color: rgb(252, 140, 109);
  margin: 4rem;
  border-radius: 1rem;
  font-weight: 450;
  font-size: 1.6rem;

}

/*
p {
  position: fixed;
  height: 7.5em;
  width: 25em;
  top: 3vh;
  left: 25vw;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, .7);
  z-index: 10;
  font-size: 1.4em;
  border-radius: 5px;
}


.form-container {
  position:fixed;
  left: 4vw;
  top: 30vh;




}
*/
input {
  display: block;
  margin-bottom: .7em;
  background-color: rgb(167, 248, 163);
}
  /*
  height: 1.3em;
  width: 10em;

  font-size: 1.2em;
  border-radius: 5px;
}

h1 {
  position: relative;
  left: 1em;
}

*/
button {
  display: block;
  margin: 1rem;

  /*height: auto;
  width: 10em;
  left: 1.5em;
  font-size: 1.2em;
  margin-top: 1em;*/
}

.option-button {
  display: block;
  font-size: 1.6rem;
}

.start-button {
  font-size: 1.6rem;
}



.input-header{
  font-size: 1.4rem;
  background-color: rgb(245, 229, 252);
  padding: 0.1rem;
}

/*
button:hover {
  filter: brightness(90%);
}

button:active {
  transform: scale(0.98);
}
*/

/*
@keyframes formopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


*/

@media screen and (max-width: 1000px) {
  #text-row{
    margin:1rem;
  }
  /*#text-row {
    height: 14rem;
    margin: 1rem;
    font-size: 1rem;
  }
  .input-header{
    font-size: 1.2rem;
    padding: 0.1rem;
  }*/
}

@media screen and (max-width: 600px) {
  /*#text-row {
    font-size: 1rem;
    height: 14rem;
    */
  #text-row{
    margin: 1rem;

  }
  /*
  .input-header{
    font-size: 1.2rem;
    padding: 0.1rem;
  }
}*/